Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**

try to fix names
  src/device/colorbulb.ts
  src/device/device.ts
  src/utils.ts
Labels: enhancement

fix adaptiveLighting
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/device.ts
  src/device/lightstrip.ts
  src/utils.ts
Labels: enhancement

validHumidity
  src/device/hub.ts
  src/device/iosensor.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/utils.ts
Labels: enhancement

validHumidity for Humidifiers
  src/device/humidifier.ts
Labels: enhancement

node-swtichbot beta
  package-lock.json
  package.json
  src/device/humidifier.ts
  src/types/bledevicestatus.ts
Labels: enhancement, dependencies

node-switchbot: beta
  package-lock.json
  package.json
Labels: dependencies

stop BLE scanning on homebridge shutdown
  src/platform.ts
Labels: enhancement

Update colorbulb.ts
  src/device/colorbulb.ts
Labels: enhancement

validNames
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
Labels: enhancement

Update other.ts
  src/irdevice/other.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

add CharacteristicName to context
  src/device/device.ts
  src/irdevice/irdevice.ts
Labels: enhancement

validName right away
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement

logging
  package-lock.json
  package.json
  src/device/device.ts
  src/irdevice/irdevice.ts
  src/platform.ts
Labels: enhancement, dependencies

homebridge v2.0.0
  package-lock.json
  package.json
Labels: dependencies

v3.7.0
  CHANGELOG.md
  docs/.nojekyll
  docs/assets/highlight.css
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/functions/default.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
  typedoc.json
Labels: docs, dependencies

homebridge v2
  package-lock.json
  package.json
Labels: dependencies

update dependencies
  package-lock.json
  package.json
Labels: dependencies

refactoring
  src/device/device.ts
  src/irdevice/irdevice.ts
Labels: enhancement

fix Platform BLE
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement, dependencies

add try catch
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/platform.ts
Labels: docs, enhancement, dependencies

allowInvalidCharacter
  .npmrc
  config.schema.json
  package-lock.json
  package.json
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies

Update bot.ts
  src/device/bot.ts
Labels: enhancement

Fix ValidPattern RegExp
  src/platform.ts
Labels: enhancement

more logs
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

way to many warnings
  config.schema.json
  package-lock.json
  package.json
  src/device/bot.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies

just making it nice
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

Update platform.ts
  src/platform.ts
Labels: enhancement

Update platform.ts
  src/platform.ts
Labels: enhancement

update dependencies
  package-lock.json
  package.json
Labels: dependencies

Add specific MacOS Bluetooth permission instructions
  README.md
  assets/security-privacy-bluetooth.png
Labels: docs

Add specific MacOS Bluetooth permission instructions (#1026)
  README.md
  assets/security-privacy-bluetooth.png
Labels: docs

Fix on state for robot vacuum cleaners
  src/device/robotvacuumcleaner.ts
Labels: enhancement

Fix on state for robot vacuum cleaners (#1028)
  src/device/robotvacuumcleaner.ts
Labels: enhancement

update dependencies
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Delete .npmrc
  .npmrc
Labels: none

Update platform.ts
  src/platform.ts
Labels: enhancement

Roller Shade to Curtain
  src/platform.ts
Labels: enhancement

Update config.schema.json
  config.schema.json
Labels: enhancement

more device types for RollerShade
  src/device/curtain.ts
  src/platform.ts
Labels: enhancement
