Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

Fix labeler workflow (#913)
  .github/workflows/labeler.yml
Labels: workflow

Revert curtain retry functionality (#911)
  src/device/curtain.ts
Labels: enhancement

Fix typos (#910)
  CHANGELOG.md
  README.md
  config.schema.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/irdevice/fan.ts
  src/irdevice/other.ts
  src/platform.ts
  src/settings.ts
Labels: docs, enhancement

Fix curtain characteristic warning (#909)
  src/device/curtain.ts
Labels: enhancement

Fix BLE curtain mode (#908)
  src/device/curtain.ts
Labels: enhancement

Fix BLE connection (#907)
  src/platform.ts
Labels: enhancement

v3.1.1
  CHANGELOG.md
  src/device/curtain.ts
Labels: docs, enhancement

Fix linting
  package.json
Labels: dependencies

Fix lint warning
  src/device/curtain.ts
Labels: enhancement

update node-switchbot
  package-lock.json
  package.json
Labels: dependencies

Update platform.ts
  src/platform.ts
Labels: enhancement

Fix linting (#917)
  package.json
  src/device/curtain.ts
Labels: enhancement, dependencies

v3.1.1
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/platform.ts
Labels: docs, enhancement, dependencies

3.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

v3.1.1 (#918)
  .github/workflows/beta-release.yml
  .github/workflows/changerelease.yml
  .github/workflows/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  config.schema.json
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/homebridge-ui/server.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
  src/settings.ts
Labels: docs, enhancement, dependencies, workflow

node-switchbot=2.0.0
  package-lock.json
  package.json
Labels: dependencies

v3.1.2
  CHANGELOG.md
  package-lock.json
  package.json
  src/platform.ts
Labels: docs, enhancement, dependencies

3.2.0
  CHANGELOG.md
  package-lock.json
  src/custom.d.ts
Labels: docs, enhancement, dependencies

fix SwitchBot
  src/platform.ts
Labels: enhancement

nodeman
  nodemon.json
Labels: none

Update config.schema.json
  config.schema.json
Labels: enhancement

v3.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

v3.1.3 (#924)
  CHANGELOG.md
  config.schema.json
  nodemon.json
  package-lock.json
  package.json
  src/platform.ts
Labels: docs, enhancement, dependencies

update local import
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

v3.2.0
  CHANGELOG.md
Labels: docs

v3.2.0 (#926)
  CHANGELOG.md
  package-lock.json
  package.json
  src/custom.d.ts
  src/platform.ts
Labels: docs, enhancement, dependencies

Add config that allows you to set `cool` and `heat`: `min` & `max`
  CHANGELOG.md
  config.schema.json
  src/irdevice/airconditioner.ts
  src/settings.ts
Labels: docs, enhancement

add errorlogs
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
Labels: enhancement

Fix node-switchbot import
  src/platform.ts
Labels: enhancement

Fix node-switchbot import (#928)
  src/platform.ts
Labels: enhancement

BLE Enhancements
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement, dependencies

fix motion sensors
  package-lock.json
  package.json
  src/device/motion.ts
Labels: enhancement, dependencies

next node-switchbot beta
  package-lock.json
  package.json
Labels: dependencies

Remove unnecessary await keyword
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement

Remove empty image tag
  README.md
Labels: docs

Remove unnecessary await keyword (#929)
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement

Remove empty image tag (#930)
  README.md
Labels: docs

beta.12
  package-lock.json
  package.json
Labels: dependencies

v3.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

v3.3.0 (#932)
  CHANGELOG.md
  README.md
  config.schema.json
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
  src/settings.ts
Labels: docs, enhancement, dependencies

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**
