Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**

Update waterdetector.ts
  src/device/waterdetector.ts
Labels: enhancement

Update waterdetector.ts
  src/device/waterdetector.ts
Labels: enhancement

Update waterdetector.ts
  src/device/waterdetector.ts
Labels: enhancement

Fix characteristic warning
  src/device/curtain.ts
Labels: enhancement

Fix characteristic warning (#1104)
  src/device/curtain.ts
Labels: enhancement

v4.1.3
  CHANGELOG.md
  README.md
  docs/functions/default.html
  docs/index.html
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/iosensor.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: docs, enhancement, dependencies

4.1.4
  .github/workflows/beta-release.yml
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Labels: dependencies, workflow

Update default refresh rate
  config.schema.json
  src/device/device.ts
Labels: enhancement

Update default refresh rate (#1109)
  config.schema.json
  src/device/device.ts
Labels: enhancement

Fix service data check
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/iosensor.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

Remove additional space in logging
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
Labels: enhancement

Fix service data check (#1110)
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/iosensor.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

Remove additional space in logging (#1111)
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
Labels: enhancement

MeterPro(CO2)
  package-lock.json
  package.json
  src/device/device.ts
  src/device/meterpro.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies

battery not null
  package-lock.json
  package.json
Labels: dependencies

Remove unneeded unknown casting
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/lightstrip.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement

Remove unneeded unknown casting (#1113)
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/lightstrip.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement

v4.1.4
  CHANGELOG.md
  docs/functions/default.html
  package-lock.json
  package.json
Labels: docs, dependencies

Remove unnecessary setMinMax call
  src/device/curtain.ts
Labels: enhancement

Add periods for description consistency
  config.schema.json
Labels: enhancement

Fix min max states
  src/device/curtain.ts
Labels: enhancement

Fix for "Lightbulb must have the ColorTemperature characteristic added" (#1136)
  src/device/colorbulb.ts
Labels: enhancement

Update colorbulb.ts
  src/device/colorbulb.ts
Labels: enhancement

update dependencies
  package-lock.json
  package.json
Labels: dependencies

add hostname option to config
  config.schema.json
  package-lock.json
  package.json
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies

update dependencies
  package-lock.json
  package.json
Labels: dependencies

Humidifier2
  README.md
  config.schema.json
  package-lock.json
  package.json
  src/device/device.ts
  src/device/humidifier.ts
  src/platform.ts
  src/settings.ts
Labels: docs, enhancement, dependencies

update
  package-lock.json
  package.json
Labels: dependencies

update
  package-lock.json
  package.json
Labels: dependencies

v4.1.6
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

update
  package-lock.json
  package.json
Labels: dependencies

revert
  package-lock.json
  package.json
Labels: dependencies

remove extra logs
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

update
  package-lock.json
  package.json
  src/device/fan.ts
  src/device/meterpro.ts
Labels: enhancement, dependencies

update
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

move to platform
  src/device/device.ts
  src/irdevice/irdevice.ts
  src/platform.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

update
  docs/assets/hierarchy.js
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/functions/default.html
  docs/index.html
  package-lock.json
  package.json
Labels: dependencies

revert to "undici": "^6.19.8"
  package-lock.json
  package.json
Labels: dependencies

update
  package-lock.json
  package.json
Labels: dependencies
