Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

chore: drop changelog edits from patch branch
  CHANGELOG.md
Labels: docs

Fix Air Purifier PM2.5 BLE parsing and add missing UI entries (#1340)
  config.schema.json
  package-lock.json
  package.json
  src/device/airpurifier.ts
Labels: enhancement, dependencies

chore(release): v4.3.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix: ESLint errors blocking NPM publish in Unified Release workflow (#1342)
  package-lock.json
  src/device/airpurifier.ts
Labels: enhancement, dependencies

chore(release): v4.3.12 [skip ci]
  CHANGELOG.md
Labels: docs

Fix cached acccessories and device table
  src/homebridge-ui/public/index.html
Labels: enhancement

chore(release): v4.3.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

chore(release): v4.3.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

feat: Add Plug Mini (EU) support (#1344)
  config.schema.json
  package-lock.json
  package.json
  src/device/device.ts
  src/device/plug.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies

chore(release): v4.3.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

chore(release): version packages v [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

chore(release): add changesets config, initial changeset, and husky pre-push hook [skip ci]
  .changeset/config.json
  .github/workflows/release.yml
  .husky/pre-push
  package-lock.json
  package.json
Labels: dependencies, workflow

fix: preserve LockTargetState during in-flight lock/unlock commands (#1345)
  package-lock.json
  src/device/lock.ts
Labels: enhancement, dependencies

BLE polling& OpenAPI refreshing
  README.md
  config.schema.json
  src/devices/genericDevice.ts
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/advanced-settings.ts
  src/homebridge-ui/public/js/devices.ts
  src/homebridge-ui/public/js/modals.ts
  src/platform.ts
  src/utils.ts
  test/device/genericDevice-blepoll.spec.ts
Labels: docs, enhancement

Config UI
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/advanced-settings.ts
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/modals.ts
Labels: enhancement

UI
  .github/workflows/ci.yml
  .github/workflows/manual-e2e.yml
  config.schema.json
  docs/assets/highlight.css
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/index.html
  docs/variables/default.html
  src/deviceFactory.ts
  src/homebridge-ui/endpoints/config.ts
  src/homebridge-ui/endpoints/credentials.ts
  src/homebridge-ui/endpoints/devices.ts
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/advanced-settings.ts
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/credentials.ts
  src/homebridge-ui/public/js/devices-delete.ts
  src/homebridge-ui/public/js/devices.ts
  src/homebridge-ui/server.ts
  src/platform.ts
  src/settings.ts
  src/switchbotClient.ts
Labels: enhancement, workflow

setDeviceState
  src/deviceCommandMapper.ts
  src/switchbotClient.ts
Labels: enhancement

symetrical
  docs/variables/default.html
  src/SwitchBotHAPPlatform.ts
  src/SwitchBotMatterPlatform.ts
  src/index.ts
  src/platform.ts
  src/utils.ts
  test/platform/accessory-restore.spec.ts
  test/platform/matter-childbridge.spec.ts
  test/platform/matter-integration.spec.ts
  test/platform/platform-edge.spec.ts
  test/platform/platform.integration.spec.ts
Labels: enhancement

Config UI
  .github/workflows/ci.yml
  .github/workflows/manual-e2e.yml
  config.schema.json
  docs/assets/highlight.css
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/index.html
  docs/variables/default.html
  src/deviceFactory.ts
  src/homebridge-ui/endpoints/config.ts
  src/homebridge-ui/endpoints/credentials.ts
  src/homebridge-ui/endpoints/devices.ts
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/advanced-settings.ts
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/credentials.ts
  src/homebridge-ui/public/js/devices-delete.ts
  src/homebridge-ui/public/js/devices.ts
  src/homebridge-ui/public/js/modals.ts
  src/homebridge-ui/server.ts
  src/platform.ts
  src/settings.ts
  src/switchbotClient.ts
Labels: enhancement, workflow

symetrical
  docs/variables/default.html
  src/SwitchBotHAPPlatform.ts
  src/SwitchBotMatterPlatform.ts
  src/index.ts
  src/platform.ts
  src/utils.ts
  test/platform/accessory-restore.spec.ts
  test/platform/matter-childbridge.spec.ts
  test/platform/matter-integration.spec.ts
  test/platform/platform-edge.spec.ts
  test/platform/platform.integration.spec.ts
Labels: enhancement

setDeviceState
  src/deviceCommandMapper.ts
  src/switchbotClient.ts
Labels: enhancement

UI
  docs/variables/default.html
  src/homebridge-ui/public/css/styles.css
  src/homebridge-ui/public/js/devices.ts
  src/homebridge-ui/public/js/discovery.ts
  src/homebridge-ui/public/js/modals.ts
Labels: enhancement

UI Fix
  docs/variables/default.html
  package.json
  src/homebridge-ui/endpoints/discovery.ts
  src/homebridge-ui/public/css/styles.css
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/devices.ts
  src/homebridge-ui/public/js/discovery.ts
  src/homebridge-ui/public/js/modal.ts
  src/homebridge-ui/public/js/modals.ts
  src/homebridge-ui/public/js/render.ts
Labels: enhancement, dependencies

push
  package.json
  src/homebridge-ui/endpoints/devices.ts
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/devices.ts
  src/homebridge-ui/public/js/discovery.ts
  src/homebridge-ui/public/js/render.ts
  src/homebridge-ui/public/js/toast.ts
  src/homebridge-ui/utils/config-parser.ts
Labels: enhancement, dependencies

UI
  package.json
  tsconfig.ui.json
Labels: dependencies

fix for OIDC
  .github/workflows/beta-release.yml
  .github/workflows/release.yml
Labels: workflow

[WIP] Fix thermostat always showing as 30°C in Homebridge (#1356)
  src/device/iosensor.ts
Labels: enhancement

v5.0.0
  .github/workflows/release.yml
  .github/workflows/stale.yml
  CHANGELOG.md
  MIGRATION.md
  README.md
  docs/assets/main.js
  docs/index.html
  docs/variables/default.html
  eslint.config.js
  package-lock.json
  package.json
  src/device-types.ts
  src/deviceFactory.ts
  src/switchbotClient.ts
  test/client/switchbotClient.spec.ts
  test/e2e/run-e2e.spec.ts
Labels: docs, enhancement, dependencies, workflow

v5.0.0
  CHANGELOG.md
  MIGRATION.md
  README.md
  docs/index.html
  docs/variables/default.html
  package-lock.json
  package.json
  src/device-types.js
  src/device-types.js.map
  src/deviceCommandMapper.js
  src/deviceCommandMapper.js.map
  src/errors.js
  src/errors.js.map
  src/homebridge-ui/endpoints/discovery.ts
  src/settings.js
  src/settings.js.map
  src/switchbotClient.js
  src/switchbotClient.js.map
  tsconfig.ui.json
Labels: docs, enhancement, dependencies

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/ci.yml
Labels: workflow

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/release.yml
Labels: workflow

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/release.yml
Labels: workflow

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/manual-e2e.yml
Labels: workflow

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/release.yml
Labels: workflow

beta-5.1.0
  CHANGELOG.md
  MIGRATION.md
  README.md
  config.schema.json
  docs/assets/highlight.css
  docs/index.html
  docs/variables/default.html
  scripts/build-ui.js
  src/SwitchBotHAPPlatform.ts
  src/SwitchBotMatterPlatform.ts
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/devices.ts
  src/homebridge-ui/public/js/modals.ts
  src/homebridge-ui/public/js/render.ts
  src/settings.ts
  src/utils.ts
  test/platform/matter-integration.spec.ts
  test/utils/utils.spec.ts
Labels: docs, enhancement

Fix input styles
  src/homebridge-ui/public/css/styles.css
Labels: enhancement

feat(ui): detect legacy v4 config format and surface incompatibility warning (#1360)
  package-lock.json
  src/homebridge-ui/endpoints/config.ts
  src/homebridge-ui/public/css/styles.css
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/app.ts
  src/homebridge-ui/utils/config-parser.ts
  src/homebridge-ui/utils/v4-detection.ts
  test/homebridge-ui/config-parser.spec.ts
Labels: enhancement, dependencies

Fix _postMessage TypeError
  src/homebridge-ui/public/js/toast.ts
Labels: enhancement

Make configured devices styles consistent
  src/homebridge-ui/public/js/render.ts
Labels: enhancement

Fix configured devices layout
  src/homebridge-ui/public/js/render.ts
Labels: enhancement

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**
