Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

Update platform.ts
  src/platform.ts
Labels: enhancement

Update meterpro.ts
  src/device/meterpro.ts
Labels: enhancement

Update meterpro.ts (#1228)
  src/device/meterpro.ts
Labels: enhancement

update dep
  docs/variables/default.html
  package-lock.json
  package.json
Labels: dependencies

Fix Switchbot Curtain BLE connection failures and NaN position values on Raspberry Pi (#1229)
  package-lock.json
  src/device/blindtilt.ts
  src/device/curtain.ts
Labels: enhancement, dependencies

Fix grammar
  src/homebridge-ui/public/index.html
Labels: enhancement

Fix error logging
  src/device/device.ts
  src/platform.ts
Labels: enhancement

Fix error logging (#1266)
  src/device/device.ts
  src/homebridge-ui/public/index.html
  src/platform.ts
Labels: enhancement

Add proper SwitchBot Hub 3 support with latest node-switchbot dependency (#1264)
  README.md
  docs/index.html
  docs/variables/default.html
  package-lock.json
  package.json
  src/device/device.ts
  src/device/hub.ts
  src/platform.ts
Labels: docs, enhancement, dependencies

update from beta branch
  package-lock.json
Labels: dependencies

Remove TypeDoc theme dependency and clean up repository to fix GitHub Actions workflow failures (#1268)
  .github/copilot-instructions.md
  .gitignore
  README.md
  docs/.nojekyll
  docs/assets/hierarchy.js
  docs/assets/highlight.css
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/media/security-privacy-bluetooth.png
  package-lock.json
  package.json
  src/device/device.ts
  src/device/hub.ts
  src/homebridge-ui/public/index.html
  src/platform.ts
  typedoc.json
Labels: docs, enhancement, dependencies, workflow

Update package-lock.json
  package-lock.json
Labels: dependencies

✨ Add label-based version increment to automated beta branch creation (#1275)
  .github/copilot-instructions.md
Labels: docs, workflow

✨ Enhanced Copilot instructions for beta branch targeting and label-based versioning (#1277)
  .github/copilot-instructions.md
Labels: docs, workflow

Fix reboot loop caused by device config validation errors (#1237)
  package-lock.json
  src/platform.ts
  src/verifyconfig.test.ts
Labels: enhancement, dependencies

Fix: Enable CO2 sensor output for Meter Pro (CO2) devices in HomeKit (#1241)
  src/device/meterpro.ts
Labels: enhancement

Update config.schema.json
  config.schema.json
Labels: enhancement

Update config.schema.json
  config.schema.json
Labels: enhancement

Fix config schema
  config.schema.json
Labels: enhancement

Fix devices table
  src/homebridge-ui/public/index.html
Labels: enhancement

Fix dark appearance table header color
  src/homebridge-ui/public/index.html
Labels: enhancement

Fix package-lock.json
  package-lock.json
Labels: dependencies

Fix config schema (#1284)
  config.schema.json
Labels: enhancement

Fix error logging (#1266)
  src/device/device.ts
  src/homebridge-ui/public/index.html
  src/platform.ts
Labels: enhancement

Add proper SwitchBot Hub 3 support with latest node-switchbot dependency (#1264)
  README.md
  docs/index.html
  docs/variables/default.html
  package-lock.json
  package.json
  src/device/device.ts
  src/device/hub.ts
  src/platform.ts
Labels: docs, enhancement, dependencies

Fix config schema
  config.schema.json
Labels: enhancement

Fix config schema (#1287)
  config.schema.json
Labels: enhancement

Add Matter Support
  config.schema.json
  docs/variables/default.html
  package-lock.json
  package.json
  src/homebridge-ui/public/index.html
Labels: enhancement, dependencies

Only initialize API request tracker if needed
  src/platform-hap.ts
  src/platform-matter.ts
Labels: enhancement

Add Matter Support
  config.schema.json
  docs/variables/default.html
  package-lock.json
  package.json
  src/homebridge-ui/public/index.html
  src/platform-matter.ts
Labels: enhancement, dependencies

Only initialize API request tracker if needed (#1288)
  src/platform-hap.ts
  src/platform-matter.ts
Labels: enhancement

refine Robot Vacuum
  src/devices-matter/RoboticVacuumAccessory.ts
  src/test/matter/devices-matter/roboticVacuumAccessory.test.ts
Labels: enhancement

refine Robot Vacuum
  src/devices-matter/RoboticVacuumAccessory.ts
  src/test/matter/devices-matter/roboticVacuumAccessory.test.ts
Labels: enhancement

Add Device to Config
  src/homebridge-ui/public/index.html
Labels: enhancement

update dependencies
  package-lock.json
  package.json
Labels: dependencies

Dynamic Config
  docs/variables/default.html
  src/homebridge-ui/public/index.html
  src/homebridge-ui/server.ts
Labels: enhancement

refine Robot Vacuum
  config.schema.json
  docs/variables/default.html
  src/devices-matter/RoboticVacuumAccessory.ts
  src/settings.ts
  src/test/matter/devices-matter/roboticVacuumAccessory.test.ts
Labels: enhancement

curtains
  src/devices-matter/VenetianBlindAccessory.ts
  src/devices-matter/WindowBlindAccessory.ts
  src/platform-matter.ts
Labels: enhancement

Update platform-matter.ts
  src/platform-matter.ts
Labels: enhancement

Update platform-matter.ts
  src/platform-matter.ts
Labels: enhancement

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**
