Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

"node-switchbot": "2.5.0-beta.13"
  package-lock.json
  package.json
Labels: dependencies

"node-switchbot": "2.5.0-beta.14"
  package-lock.json
  package.json
Labels: dependencies

ad try catch to node-switchbot
  src/device/device.ts
  src/platform.ts
Labels: enhancement

Update platform.ts
  src/platform.ts
Labels: enhancement

listen for logs emitted
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

allow info logs to be pushed
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

Update platform.ts
  src/platform.ts
Labels: enhancement

more changes
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
Labels: enhancement, dependencies

new node-switchbot beta
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

"node-switchbot": "2.5.0-beta.25"
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

"node-switchbot": "2.5.0-beta.28"
  package-lock.json
  package.json
  src/device/device.ts
  src/irdevice/irdevice.ts
  src/platform.ts
Labels: enhancement, dependencies

fix getDevices
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

Update platform.ts
  src/platform.ts
Labels: enhancement

fix discord
  .github/workflows/beta-release.yml
  .github/workflows/release.yml
Labels: workflow

finall node-switchbot beta
  docs/assets/highlight.css
  docs/assets/main.js
  docs/functions/default.html
  docs/index.html
  docs/media/security-privacy-bluetooth.png
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

get the new logging from BLE API
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

fix
  package-lock.json
  package.json
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies

add logging
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies

Update platform.ts
  src/platform.ts
Labels: enhancement

more logs for RotationSpeed
  package-lock.json
  package.json
  src/device/fan.ts
Labels: enhancement, dependencies

0 if RotationSpeed is undefined
  package-lock.json
  package.json
  src/device/fan.ts
Labels: enhancement, dependencies

Update device.ts
  src/device/device.ts
Labels: enhancement

more
  .github/workflows/release.yml
  CHANGELOG.md
  config.schema.json
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/platform.ts
  src/settings.ts
Labels: docs, enhancement, dependencies, workflow

better
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/platform.ts
Labels: enhancement, dependencies

Fix #1065 - light level stuck at max (#1066)
  src/device/device.ts
Labels: enhancement

major changes
  CHANGELOG.md
  config.schema.json
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/platform.ts
  src/settings.ts
  src/utils.ts
Labels: docs, enhancement, dependencies

Fix incorrect handling of openState in Contact Sensor (#1061)
  src/device/contact.ts
Labels: enhancement

Fix #1065 - light level stuck at max (#1066)
  src/device/device.ts
Labels: enhancement

3.8.3
  .github/workflows/beta-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies, workflow

v3.8.3 (#1067)
  .github/workflows/beta-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/contact.ts
  src/device/device.ts
Labels: docs, enhancement, dependencies, workflow

remove node 18
  package-lock.json
  package.json
Labels: dependencies

potential bot fix
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/bot.ts
  src/device/device.ts
  src/platform.ts
Labels: docs, enhancement, dependencies

add deviceConfig that can be set at a deviceType level
  config.schema.json
  src/device/blindtilt.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement

make it so deviceId settings override deviceType settings
  config.schema.json
  nodemon.json
  src/platform.ts
  src/settings.ts
Labels: enhancement

add remoteTypeeConfig
  config.schema.json
  src/platform.ts
  src/settings.ts
Labels: enhancement

v4.0.0
  CHANGELOG.md
  config.schema.json
  package-lock.json
  package.json
  src/device/device.ts
  src/platform.ts
  src/settings.ts
Labels: docs, enhancement, dependencies

fix `K10+ Pro` type
  package-lock.json
  package.json
Labels: dependencies

node-switchbot": "^3.1.2-beta.0"
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/assets/style.css
  docs/functions/default.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
Labels: dependencies

add patterns to config deviceId, deviceName, token, and secret
  config.schema.json
  package-lock.json
  package.json
Labels: enhancement, dependencies

fix for #1080
  config.schema.json
  src/device/bot.ts
  src/device/curtain.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
Labels: enhancement

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**
