Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**

Update platform-matter.ts
  src/platform-matter.ts
Labels: enhancement

Add Presence Sensor Support
  .github/workflows/release.yml
  docs/variables/default.html
  eslint.config.js
  package-lock.json
  package.json
  src/device/hub.ts
  src/device/occupancy.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies, workflow

chore(release): v4.3.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Add Presence Sensor Support
  .github/workflows/release.yml
  docs/assets/dmt/dmt-component-data.js
  docs/assets/dmt/dmt-components.css
  docs/assets/dmt/dmt-components.js
  docs/assets/dmt/dmt-search.cmp
  docs/assets/dmt/dmt-theme.css
  docs/assets/main.js
  docs/hierarchy.html
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  eslint.config.js
  package-lock.json
  package.json
  src/device/hub.ts
  src/device/occupancy.ts
  src/platform.ts
  src/settings.ts
  typedoc.json
Labels: enhancement, dependencies, workflow

chore(release): v4.3.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

add Presence to config
  config.schema.json
  package-lock.json
  package.json
  src/device/presence.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies

chore(release): v4.3.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix: Handle undefined statusCode and body in OpenAPI response
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/presence.ts
  src/device/relayswitch.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

co2 meter
  src/device/meterpro.ts
Labels: enhancement

show co2
  src/device/meterpro.ts
Labels: enhancement

Update dependencies
  package-lock.json
  package.json
Labels: dependencies

chore(release): v4.3.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix CHANGELOG.md
  .github/workflows/release.yml
  CHANGELOG.md
  docs/variables/default.html
  src/platform.ts
Labels: docs, enhancement, workflow

chore(release): v4.3.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix Hub 3 sensor readings returning zero due to nested API response structure (#1314)
  package-lock.json
  src/device/hub.ts
Labels: enhancement, dependencies

chore(release): v4.3.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix Unified Release workflow failure - sync package-lock.json peer dependencies (#1316)
  package-lock.json
Labels: dependencies

chore(release): v4.3.7 [skip ci]
  CHANGELOG.md
Labels: docs

Fix Unified Release workflow - remove trailing whitespace in hub.ts (#1318)
  package-lock.json
  src/device/hub.ts
Labels: enhancement, dependencies

chore(release): v4.3.7 [skip ci]
  CHANGELOG.md
Labels: docs

Fix npm ci failure from missing Vue compiler peer dependencies (#1320)
  package-lock.json
  package.json
Labels: dependencies

chore(release): v4.3.7 [skip ci]
  CHANGELOG.md
Labels: docs

Add Hub 3 configuration support to fix sensor value reporting (#1322)
  config.schema.json
  src/device/hub.ts
  src/settings.ts
Labels: enhancement

chore(release): v4.3.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix Unified Release workflow failure - remove trailing spaces in hub.ts (#1324)
  package-lock.json
  src/device/hub.ts
Labels: enhancement, dependencies

chore(release): v4.3.8 [skip ci]
  CHANGELOG.md
Labels: docs

Add support for Air Purifier device family (#1325)
  src/device/airpurifier.ts
  src/device/device.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement

chore(release): v4.3.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix Unified Release workflow - remove unused SwitchBotBLE import (#1327)
  package-lock.json
  src/device/airpurifier.ts
Labels: enhancement, dependencies

chore(release): v4.3.9 [skip ci]
  CHANGELOG.md
Labels: docs

Add Hub Mini 2 device support (#1329)
  README.md
  config.schema.json
  src/device/device.ts
  src/platform.ts
  src/settings.ts
Labels: docs, enhancement

chore(release): v4.3.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix support link
  src/homebridge-ui/public/index.html
Labels: enhancement

Fix cached acccessories and device table
  src/homebridge-ui/public/index.html
Labels: enhancement

Fix Air Purifier PM2.5 BLE parsing undefined values on macOS (#1334)
  package-lock.json
  src/device/airpurifier.ts
Labels: enhancement, dependencies

chore(release): v4.3.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix trailing whitespace breaking Unified Release workflow (#1336)
  docs/index.html
  docs/variables/default.html
  package-lock.json
  src/device/airpurifier.ts
Labels: enhancement, dependencies

chore(release): v4.3.11 [skip ci]
  CHANGELOG.md
Labels: docs

feat(bot): add BLE password support for encrypted Bot commands
  CHANGELOG.md
  README.md
  config.schema.json
  src/device/bot.ble-password.test.ts
  src/device/bot.ts
  src/settings.ts
  src/utils.bot-ble.test.ts
  src/utils.ts
Labels: docs, enhancement

fix(bot): address-first password discovery and scan-collision mitigation
  src/device/bot.ts
Labels: enhancement
