Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

v4.1.7
  CHANGELOG.md
  docs/functions/default.html
  package-lock.json
  package.json
Labels: docs, dependencies

v4.1.8
  docs/functions/default.html
  package-lock.json
  package.json
Labels: dependencies

"node-switchbot": "^3.4.4-beta.1"
  package-lock.json
  package.json
Labels: dependencies

better logging
  docs/functions/default.html
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

better logging
  package-lock.json
  package.json
  src/device/device.ts
Labels: enhancement, dependencies

make sure CharacteristicValue isn't null
  docs/functions/default.html
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

make sure context for all connections are not null or undefined
  docs/assets/dmt/dmt-component-data.js
  docs/assets/dmt/dmt-components.css
  docs/assets/dmt/dmt-components.js
  docs/assets/dmt/dmt-search.cmp
  docs/assets/dmt/dmt-theme.css
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/functions/default.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  typedoc.json
Labels: enhancement, dependencies

fix color
  src/device/colorbulb.ts
  src/device/lightstrip.ts
Labels: enhancement

Update waterdetector.ts
  src/device/waterdetector.ts
Labels: enhancement

update dependencies
  package-lock.json
  package.json
Labels: dependencies

more
  .github/workflows/build.yml
  docs/functions/default.html
  package.json
  src/device/blindtilt.ts
  src/device/curtain.ts
Labels: enhancement, dependencies, workflow

v4.2.0
  CHANGELOG.md
  config.schema.json
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/settings.ts
Labels: docs, enhancement, dependencies

v4.2.0 (#1168)
  .github/workflows/build.yml
  CHANGELOG.md
  config.schema.json
  docs/assets/dmt/dmt-component-data.js
  docs/assets/dmt/dmt-components.css
  docs/assets/dmt/dmt-components.js
  docs/assets/dmt/dmt-search.cmp
  docs/assets/dmt/dmt-theme.css
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/functions/default.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/settings.ts
  typedoc.json
Labels: docs, enhancement, dependencies, workflow

v4.3.0
  CHANGELOG.md
  config.schema.json
  docs/functions/default.html
  package-lock.json
  package.json
  src/device/device.ts
  src/device/meterpro.ts
  src/device/relayswitch.ts
  src/platform.ts
  src/settings.ts
Labels: docs, enhancement, dependencies

v4.3.0 (#1170)
  CHANGELOG.md
  config.schema.json
  docs/functions/default.html
  package-lock.json
  package.json
  src/device/device.ts
  src/device/meterpro.ts
  src/device/relayswitch.ts
  src/platform.ts
  src/settings.ts
Labels: docs, enhancement, dependencies

v4.3.1
  config.schema.json
  package-lock.json
  package.json
Labels: enhancement, dependencies

update dependencies
  .eslintrc
  docs/functions/default.html
  package-lock.json
  package.json
  tsconfig.json
Labels: dependencies

esm
  .github/workflows/beta-release.yml
  .github/workflows/release.yml
  docs/functions/default.html
Labels: workflow

Create index.test.ts
  src/index.test.ts
Labels: enhancement

update dependencies
  package-lock.json
  package.json
Labels: dependencies

add MeterPro to config.schema.json
  config.schema.json
Labels: enhancement

add potential vacuum deviceId format
  src/utils.ts
Labels: enhancement

add more to logs
  src/platform.ts
  src/utils.ts
Labels: enhancement

Update utils.ts
  src/utils.ts
Labels: enhancement

Add Unknown deviceType
  config.schema.json
  src/platform.ts
Labels: enhancement

Update platform.ts
  src/platform.ts
Labels: enhancement

Update config.schema.json
  config.schema.json
Labels: enhancement

Update config.schema.json
  config.schema.json
Labels: enhancement

add meter pro logs
  docs/assets/main.js
  docs/assets/style.css
  docs/functions/default.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
  src/device/meterpro.ts
Labels: enhancement, dependencies

v4.3.1
  CHANGELOG.md
  docs/functions/default.html
  package-lock.json
  package.json
Labels: docs, dependencies

v4.3.1 (#1179)
  .eslintrc
  .github/workflows/beta-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  config.schema.json
  docs/assets/main.js
  docs/assets/style.css
  docs/functions/default.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
  src/device/meterpro.ts
  src/index.test.ts
  src/platform.ts
  src/utils.ts
  tsconfig.json
Labels: docs, enhancement, dependencies, workflow

Solves issue with deviceRefreshStatus method usage
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/relayswitch.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
Labels: enhancement

Solves issue with deviceRefreshStatus method usage (#1217)
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/relayswitch.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
Labels: enhancement

update dependencies
  package-lock.json
  package.json
Labels: dependencies

update dependencies
  config.schema.json
  docs/functions/default.html
  eslint.config.js
  package-lock.json
  package.json
Labels: enhancement, dependencies

Update meterpro.ts
  src/device/meterpro.ts
Labels: enhancement

Update meterpro.ts (#1221)
  src/device/meterpro.ts
Labels: enhancement

update node-switchbot and meterpro
  docs/assets/dmt/dmt-component-data.js
  docs/assets/dmt/dmt-components.css
  docs/assets/dmt/dmt-components.js
  docs/assets/dmt/dmt-search.cmp
  docs/assets/dmt/dmt-theme.css
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/functions/default.html
  docs/hierarchy.html
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package-lock.json
  package.json
  src/device/meter.ts
  src/device/meterpro.ts
  src/platform.ts
  typedoc.json
Labels: enhancement, dependencies

add AirPurifier & AirPurifierTable
  docs/variables/default.html
  package-lock.json
  package.json
  src/device/airpurifier.ts
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/relayswitch.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airpurifier.ts
  src/platform.ts
Labels: enhancement, dependencies

fix MeterPro
  CHANGELOG.md
  config.schema.json
  src/device/device.ts
Labels: docs, enhancement

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**
