Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**

Fix count after adding devices
  src/homebridge-ui/public/js/api.ts
Labels: enhancement

Fix UI issues (#1364)
  .github/workflows/release.yml
  src/homebridge-ui/public/css/styles.css
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/render.ts
  src/homebridge-ui/public/js/toast.ts
Labels: enhancement, workflow

chore(release): v5.0.1 [skip ci]
  .github/scripts/npm-version-script-esm-auto.js
  .github/scripts/resolve-version-bump-esm.js
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies, workflow

chore(release): v5.0.1 [skip ci]
  .github/scripts/normalize-changelog-header.cjs
  CHANGELOG.md
Labels: docs, workflow

Fix UI issues (#1364)
  .github/scripts/normalize-changelog-header.cjs
  .github/scripts/npm-version-script-esm-auto.js
  .github/scripts/resolve-version-bump-esm.js
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/homebridge-ui/public/css/styles.css
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/render.ts
  src/homebridge-ui/public/js/toast.ts
Labels: enhancement, dependencies, workflow

chore(release): v5.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

chore(release): v5.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix UI issues (#1364)
  .github/scripts/normalize-changelog-header.cjs
  .github/scripts/npm-version-script-esm-auto.js
  .github/scripts/resolve-version-bump-esm.js
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/homebridge-ui/public/css/styles.css
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/render.ts
  src/homebridge-ui/public/js/toast.ts
Labels: enhancement, dependencies, workflow

Remove unusable cancel button
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/discovery.ts
Labels: enhancement

Fix test connection button layout
  src/homebridge-ui/public/js/render.ts
Labels: enhancement

Fix copy ID button
  src/homebridge-ui/public/js/render.ts
Labels: enhancement

Fix HAP API registration check condition
  src/SwitchBotHAPPlatform.ts
Labels: enhancement

Fix UI issues (#1382)
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/discovery.ts
  src/homebridge-ui/public/js/render.ts
Labels: enhancement

chore(release): v5.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix HAP API registration check condition (#1383)
  src/SwitchBotHAPPlatform.ts
Labels: enhancement

beta-5.1.0
  CHANGELOG.md
  MIGRATION.md
  README.md
  config.schema.json
  docs/assets/highlight.css
  docs/index.html
  docs/variables/default.html
  scripts/build-ui.js
  src/SwitchBotHAPPlatform.ts
  src/SwitchBotMatterPlatform.ts
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/devices.ts
  src/homebridge-ui/public/js/modals.ts
  src/homebridge-ui/public/js/render.ts
  src/settings.ts
  src/utils.ts
  test/platform/matter-integration.spec.ts
  test/utils/utils.spec.ts
Labels: docs, enhancement

update dependencies & lint fix
  package-lock.json
  src/homebridge-ui/public/js/app.ts
  test/platform/matter-integration.spec.ts
Labels: enhancement, dependencies

feat(ui): detect legacy v4 config format and surface incompatibility warning (#1360)
  package-lock.json
  src/homebridge-ui/endpoints/config.ts
  src/homebridge-ui/public/css/styles.css
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/api.ts
  src/homebridge-ui/public/js/app.ts
  src/homebridge-ui/utils/config-parser.ts
  src/homebridge-ui/utils/v4-detection.ts
  test/homebridge-ui/config-parser.spec.ts
Labels: enhancement, dependencies

Update release.yml
  .github/workflows/release.yml
Labels: workflow

Legacy View
  .github/copilot-instructions.md
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/Platform.HAP.ts
  src/Platform.Matter.ts
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/legacy-view.js
  src/homebridge-ui/public/js/legacy-view.ts
  src/index.ts
  test/platform/accessory-restore.spec.ts
  test/platform/matter-childbridge.spec.ts
  test/platform/matter-integration.spec.ts
  test/platform/platform-edge.spec.ts
  test/platform/platform.integration.spec.ts
Labels: docs, enhancement, dependencies, workflow

SwitchBot config block
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/advanced-settings.ts
  src/homebridge-ui/public/js/app.ts
  src/homebridge-ui/public/js/credentials.ts
  src/homebridge-ui/public/js/legacy-view.js
Labels: enhancement

Legacy View
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/legacy-view.js
Labels: enhancement

Legacy View
  .github/copilot-instructions.md
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/Platform.HAP.ts
  src/Platform.Matter.ts
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/advanced-settings.ts
  src/homebridge-ui/public/js/app.ts
  src/homebridge-ui/public/js/credentials.ts
  src/homebridge-ui/public/js/legacy-view.js
  src/homebridge-ui/public/js/legacy-view.ts
  src/index.ts
  test/platform/accessory-restore.spec.ts
  test/platform/matter-childbridge.spec.ts
  test/platform/matter-integration.spec.ts
  test/platform/platform-edge.spec.ts
  test/platform/platform.integration.spec.ts
Labels: docs, enhancement, dependencies, workflow

Legacy View
  .github/copilot-instructions.md
  package-lock.json
  package.json
  src/Platform.HAP.ts
  src/Platform.Matter.ts
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/advanced-settings.ts
  src/homebridge-ui/public/js/app.ts
  src/homebridge-ui/public/js/credentials.ts
  src/homebridge-ui/public/js/legacy-view.js
  src/homebridge-ui/public/js/legacy-view.ts
  src/index.ts
  test/platform/accessory-restore.spec.ts
  test/platform/matter-childbridge.spec.ts
  test/platform/matter-integration.spec.ts
  test/platform/platform-edge.spec.ts
  test/platform/platform.integration.spec.ts
Labels: docs, enhancement, dependencies, workflow

Update legacy-view.js
  src/homebridge-ui/public/js/legacy-view.js
Labels: enhancement

Update index.html
  src/homebridge-ui/public/index.html
Labels: enhancement

fix: water detector device mapping and HAP cache deserialization crash
  src/SwitchBotHAPPlatform.ts
  src/deviceFactory.ts
  test/device/deviceFactory.spec.ts
Labels: enhancement

feat: restore Battery service for water detector
  src/devices/genericDevice.ts
  test/device/water-detector-battery.spec.ts
Labels: enhancement

fix: cache water detector leak reads
  src/devices/genericDevice.ts
  test/device/water-detector-leak.spec.ts
Labels: enhancement

Make Bot HomeKit switch stateless
  src/devices/genericDevice.ts
Labels: enhancement

fix: water detector device mapping, HAP cache deserialization crash, and slow leak reads (#1386)
  src/SwitchBotHAPPlatform.ts
  src/deviceFactory.ts
  src/devices/genericDevice.ts
  test/device/deviceFactory.spec.ts
  test/device/water-detector-leak.spec.ts
Labels: enhancement

Use forked node-switchbot for Homebridge
  package-lock.json
  package.json
  src/devices/genericDevice.ts
Labels: enhancement, dependencies

Bundle forked node-switchbot
  package.json
Labels: dependencies

Install vendored node-switchbot dependencies
  package-lock.json
  package.json
Labels: dependencies

Pin built node-switchbot fork
  package-lock.json
Labels: dependencies

Vendor node-switchbot fixes in Homebridge fork
  package-lock.json
  package.json
  vendor/node-switchbot/BLE.md
  vendor/node-switchbot/CHANGELOG.md
  vendor/node-switchbot/LICENSE
  vendor/node-switchbot/OpenAPI.md
  vendor/node-switchbot/README.md
  vendor/node-switchbot/package.json
Labels: docs, dependencies

Preserve accessory information cache
  dist/SwitchBotHAPPlatform.d.ts.map
  dist/SwitchBotHAPPlatform.js
  dist/SwitchBotHAPPlatform.js.map
  dist/switchbotClient.js
  dist/switchbotClient.js.map
  src/SwitchBotHAPPlatform.ts
  src/switchbotClient.ts
Labels: enhancement

Fix Curtain HomeKit BLE state handling
  dist/SwitchBotHAPPlatform.d.ts.map
  dist/SwitchBotHAPPlatform.js
  dist/SwitchBotHAPPlatform.js.map
  dist/deviceFactory.d.ts.map
  dist/deviceFactory.js
  dist/deviceFactory.js.map
  dist/devices/genericDevice.d.ts
  dist/devices/genericDevice.d.ts.map
  dist/devices/genericDevice.js
  dist/devices/genericDevice.js.map
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
  vendor/node-switchbot/dist/devices/wo-curtain.js
Labels: enhancement

Fix Curtain HomeKit BLE state handling
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
Labels: enhancement

feat(bot): add botMode: "press" option for momentary-button behavior
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
Labels: enhancement
