Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**

lightsensor only with Curtain
  package-lock.json
  package.json
  src/device/curtain.ts
Labels: enhancement, dependencies

Update bot.ts
  src/device/bot.ts
Labels: enhancement

restore 3.40 file to see if all is working again
  src/device/bot-old.ts
  src/platform.ts
Labels: enhancement

Add Silent Mode Switch
  config.schema.json
  src/device/blindtilt.ts
  src/device/curtain.ts
  src/settings.ts
Labels: enhancement

make node-switchbot required
  package-lock.json
  package.json
  src/device/bot-old.ts
  src/irdevice/airconditioner.ts
  src/platform.ts
  src/types/bledevicestatus.ts
  src/types/devicewebhookstatus.ts
Labels: enhancement, dependencies

Add Water Detector Dry Alert
  config.schema.json
  src/device/waterdetector.ts
  src/settings.ts
Labels: enhancement

Update waterdetector.ts
  src/device/waterdetector.ts
Labels: enhancement

Update curtain.ts
  src/device/curtain.ts
Labels: enhancement

Update curtain.ts
  src/device/curtain.ts
Labels: enhancement

Update curtain.ts
  src/device/curtain.ts
Labels: enhancement

bot fixes
  src/device/bot-old.ts
  src/device/bot.ts
  src/platform.ts
Labels: enhancement

Update curtain.ts
  src/device/curtain.ts
Labels: enhancement

logs
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/curtain.ts
Labels: docs, enhancement, dependencies

Update curtain.ts
  src/device/curtain.ts
Labels: enhancement

more logs
  CHANGELOG.md
  src/device/curtain.ts
Labels: docs, enhancement

Update CHANGELOG.md
  CHANGELOG.md
Labels: docs

add ConfiguredName
  eslint.config.js
  package-lock.json
  package.json
  src/device/curtain.ts
Labels: enhancement, dependencies

update node-switchbot beta
  README.md
  package-lock.json
  package.json
  src/device/hub.ts
  src/device/iosensor.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/types/bledevicestatus.ts
Labels: docs, enhancement, dependencies

Only display Standby once
  src/device/curtain.ts
Labels: enhancement

v3.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

v3.8.1 (#1044)
  CHANGELOG.md
  README.md
  eslint.config.js
  package-lock.json
  package.json
  src/device/curtain.ts
  src/device/hub.ts
  src/device/iosensor.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/types/bledevicestatus.ts
Labels: docs, enhancement, dependencies

check macaddress format
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/utils.ts
Labels: docs, enhancement, dependencies

added formating to manual device config (BLE)
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/platform.ts
  src/utils.ts
Labels: enhancement

Fix temperate bug #1024
  src/device/iosensor.ts
  src/types/bledevicestatus.ts
Labels: enhancement

Fix temperate bug #1024
  src/device/iosensor.ts
  src/types/bledevicestatus.ts
Labels: enhancement

fix #1024
  src/device/hub.ts
  src/device/iosensor.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/types/bledevicestatus.ts
Labels: enhancement

v3.8.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

v3.8.2 (#1049)
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/platform.ts
  src/types/bledevicestatus.ts
  src/utils.ts
Labels: docs, enhancement, dependencies

Fix incorrect handling of openState in Contact Sensor
  src/device/contact.ts
Labels: enhancement

beta-3.8.3
  .github/workflows/beta-release.yml
  .github/workflows/release.yml
  package.json
Labels: dependencies, workflow

Update beta-release.yml
  .github/workflows/beta-release.yml
Labels: workflow

Fix incorrect handling of openState in Contact Sensor (#1061)
  src/device/contact.ts
Labels: enhancement

Update CHANGELOG.md
  CHANGELOG.md
Labels: docs

update
  package-lock.json
  package.json
Labels: dependencies

update
  package-lock.json
  package.json
Labels: dependencies

node-switchbot: beta
  package-lock.json
  package.json
Labels: dependencies

"node-switchbot": "2.5.0-beta.10"
  package-lock.json
  package.json
Labels: dependencies

"node-switchbot": "2.5.0-beta.12"
  package-lock.json
  package.json
Labels: dependencies

Update beta-release.yml
  .github/workflows/beta-release.yml
Labels: workflow

Update beta-release.yml
  .github/workflows/beta-release.yml
Labels: workflow
