Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

override statusCode when Device is Hub
  src/device/device.ts
Labels: enhancement

correct version info
  src/device/device.ts
  src/irdevice/irdevice.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement

fixes 971
  src/device/bot.ts
Labels: enhancement

context.FirmwareRevision === undefined
  src/device/device.ts
  src/irdevice/irdevice.ts
Labels: enhancement

more version fixes
  src/device/device.ts
  src/platform.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

only if version is available
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

more firmware version fixes
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/homebridge-ui/public/index.html
  src/irdevice/irdevice.ts
  src/platform.ts
Labels: enhancement

logging for firmware version
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

version
  src/device/device.ts
  src/platform.ts
Labels: enhancement

adding more information/consistency around how to find device IDs
  README.md
  config.schema.json
Labels: docs, enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

version revision
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/platform.ts
Labels: enhancement

fix statuscode issue
  src/device/device.ts
  src/device/humidifier.ts
Labels: enhancement

stringify
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

Update platform.ts
  src/platform.ts
Labels: enhancement

see if this fixes the version
  eslint.config.js
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement, dependencies

eslint
  eslint.config.js
  package-lock.json
  package.json
  src/device/fan.ts
  src/homebridge-ui/public/index.html
  src/homebridge-ui/server.ts
  src/irdevice/fan.ts
Labels: enhancement, dependencies

less logs
  src/device/device.ts
  src/irdevice/irdevice.ts
Labels: enhancement

Update package-lock.json
  package-lock.json
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: docs

fix linting
  eslint.config.js
  package-lock.json
  package.json
Labels: dependencies

fix for #971
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
Labels: enhancement

more linting
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/homebridge-ui/public/index.html
  src/index.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies

add Name Services
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

fixe name Characteristic
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

Update colorbulb.ts
  src/device/colorbulb.ts
Labels: enhancement

Update platform.ts
  src/platform.ts
Labels: enhancement

add Name Characteristics to IR
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/motion.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
Labels: enhancement

context
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
Labels: enhancement

resolve more firmware issues
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement

device version without periods
  src/device/blindtilt.ts
  src/device/device.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

Update device.ts
  src/device/device.ts
Labels: enhancement

potentail fix for TypeError: Cannot set properties of undefined (setting 'Service')
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/waterdetector.ts
  src/irdevice/other.ts
Labels: enhancement

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**
