Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

fix: restore Battery service for water detector (#1387)
  src/devices/genericDevice.ts
  test/device/water-detector-battery.spec.ts
Labels: enhancement

Fix Curtain HomeKit BLE state handling (#1393)
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
Labels: enhancement

Fix lint: use timer args, convert test titles to lowercase and use arrow callbacks where needed\n\nCo-authored-by: Copilot App <223556219+Copilot@users.noreply.github.com>
  src/devices/genericDevice.ts
  test/device/water-detector-battery.spec.ts
  test/device/water-detector-leak.spec.ts
Labels: enhancement

Fix test mock: use constructible function implementation for OpenAPIClient mock and allow ESLint exception\n\nCo-authored-by: Copilot App <223556219+Copilot@users.noreply.github.com>
  test/device/water-detector-battery.spec.ts
Labels: none

Fix lint: prefer-timer-args and test title/callback fixes (#1398)
  src/devices/genericDevice.ts
  test/device/water-detector-battery.spec.ts
  test/device/water-detector-leak.spec.ts
Labels: enhancement

chore(release): v5.0.4 [skip ci]
  .github/scripts/normalize-changelog-header.cjs
  .github/scripts/npm-version-script-esm-auto.js
  .github/scripts/resolve-version-bump-esm.js
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies, workflow

fix: return a device status from getState(), not the device itself
  src/deviceFactory.ts
  src/devices/genericDevice.ts
  test/device/getstate-returns-status.spec.ts
Labels: enhancement

fix: return a device status from getState(), not the device itself (#1404)
  src/deviceFactory.ts
  src/devices/genericDevice.ts
  test/device/getstate-returns-status.spec.ts
Labels: enhancement

fix: push polled values to HomeKit instead of discarding them
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
  test/device/getstate-cache.spec.ts
  test/device/getstate-returns-status.spec.ts
  test/hap-push-updates.spec.ts
Labels: enhancement

fix: push polled values to HomeKit instead of discarding them (#1410)
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
  test/device/getstate-cache.spec.ts
  test/device/getstate-returns-status.spec.ts
  test/hap-push-updates.spec.ts
Labels: enhancement

5.0.5
  package.json
Labels: dependencies

5.0.5
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/variables/default.html
  package-lock.json
Labels: dependencies

5.0.5
  package-lock.json
Labels: dependencies

v5.0.5 (#1412)
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/variables/default.html
  package-lock.json
  package.json
Labels: dependencies

chore(release): v5.1.0 [skip ci]
  .github/scripts/compute-version-override.cjs
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies, workflow

feat: add a CarbonDioxideSensor service for the Meter Pro (CO2)
  config.schema.json
  package-lock.json
  package.json
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/advanced-settings.ts
  test/device/meter-co2.spec.ts
Labels: enhancement, dependencies

Restore SwitchBot Bot HomeKit display types
  README.md
  config.schema.json
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
  test/device/bot-hap.spec.ts
Labels: docs, enhancement

v5.2.0
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/style.css
  docs/hierarchy.html
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package-lock.json
  package.json
  src/device-types.js
  src/device-types.ts
  src/deviceFactory.ts
  test/device/model-identities.spec.ts
Labels: enhancement, dependencies

v5.2.0
  CHANGELOG.md
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/style.css
  docs/hierarchy.html
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package-lock.json
  package.json
  src/device-types.js
  src/device-types.ts
  src/deviceFactory.ts
  test/device/model-identities.spec.ts
Labels: docs, enhancement, dependencies

v5.2.0 (#1416)
  CHANGELOG.md
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/style.css
  docs/hierarchy.html
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package-lock.json
  package.json
  src/device-types.js
  src/device-types.ts
  src/deviceFactory.ts
  test/device/model-identities.spec.ts
Labels: docs, enhancement, dependencies

v5.2.0
  CHANGELOG.md
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/style.css
  docs/hierarchy.html
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package-lock.json
  package.json
  src/device-types.js
  src/device-types.ts
  src/deviceFactory.ts
  test/device/model-identities.spec.ts
Labels: docs, enhancement, dependencies

v5.2.0 (#1418)
  docs/variables/default.html
Labels: none

v5.2.0
  docs/variables/default.html
  package-lock.json
  package.json
Labels: dependencies

V5.2.0 (#1420)
  docs/variables/default.html
Labels: none

Update package.json
  package.json
Labels: dependencies

feat: add a CarbonDioxideSensor service for the Meter Pro (CO2) (#1413)
  config.schema.json
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
  src/homebridge-ui/public/index.html
  src/homebridge-ui/public/js/advanced-settings.ts
  test/device/meter-co2.spec.ts
Labels: enhancement

chore(release): v5.2.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: docs, dependencies

Restore SwitchBot Bot HomeKit display types (#1414)
  README.md
  config.schema.json
  src/SwitchBotHAPPlatform.ts
  src/devices/genericDevice.ts
  test/device/bot-hap.spec.ts
Labels: docs, enhancement

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**
