Repository OpenWonderLabs/homebridge-switchbot, changes with the labels that .github/labeler.yml gives for each.
All labels: branding, docs, enhancement, dependencies, workflow

.github/labeler.yml:

# Add 'branding' label to any changes within 'docs' folder or any subfolders
branding:
- changed-files:
  - any-glob-to-any-file: branding/**

# Add 'docs' label to any change to .md files within the entire repository
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any change to src files within the source dir EXCEPT for the docs sub-folder
enhancement:
  - changed-files:
    - any-glob-to-any-file: src/**/*
    - any-glob-to-any-file: config.schema.json

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

# Add 'beta' label to any PR that is opened against the `beta` branch
beta:
- base-branch: beta*

# Add 'alpha' label to any PR that is opened against the `alpha` branch
alpha:
- base-branch: alpha*

# Add 'latest' label to any PR that is opened against the `latest` branch
latest:
- base-branch: latest

# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
- changed-files:
  - any-glob-to-any-file: .github/**

update dependencies
  package-lock.json
  package.json
Labels: dependencies

node-swtichbot beta
  package-lock.json
  package.json
Labels: dependencies

node-switchbot beta
  package-lock.json
  package.json
  src/device/motion.ts
Labels: enhancement, dependencies

v4.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/meterpro.ts
  src/platform.ts
Labels: docs, enhancement, dependencies

v4.1.0 (#1085)
  CHANGELOG.md
  config.schema.json
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/assets/style.css
  docs/functions/default.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
  src/device/bot.ts
  src/device/curtain.ts
  src/device/meterpro.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
Labels: docs, enhancement, dependencies

Remove unneeded logging async
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
Labels: enhancement

Remove unneeded maxRetryBLE async
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement

Fix max retry
  src/device/device.ts
Labels: enhancement

Remove unneeded device async
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
Labels: enhancement

Fix device types
  src/device/bot.ts
  src/irdevice/other.ts
Labels: enhancement

Fix curtain light sensor
  src/device/curtain.ts
Labels: enhancement

beta-4.1.1
  package-lock.json
  package.json
  src/device/bot.ts
  src/device/device.ts
  src/settings.ts
Labels: enhancement, dependencies

Fix device types (#1091)
  src/device/bot.ts
  src/irdevice/other.ts
Labels: enhancement

Fix curtain light sensor (#1090)
  src/device/curtain.ts
Labels: enhancement

Remove unneeded async code (#1089)
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
Labels: enhancement

Fix max retry (#1088)
  src/device/device.ts
Labels: enhancement

node-switchbot beta
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, dependencies

Fix light level
  src/device/blindtilt.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/hub.ts
  src/device/motion.ts
Labels: enhancement

Fix light level (#1092)
  src/device/blindtilt.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/hub.ts
  src/device/motion.ts
Labels: enhancement

Fix characteristic warning
  src/device/curtain.ts
Labels: enhancement

Remove unneeded async
  src/device/curtain.ts
Labels: enhancement

Fix characteristic warning (#1093)
  src/device/curtain.ts
Labels: enhancement

Remove unneeded async (#1094)
  src/device/curtain.ts
Labels: enhancement

Update CHANGELOG.md
  CHANGELOG.md
Labels: docs

Remove unneeded light level check
  src/device/device.ts
Labels: enhancement

Remove unneeded light level check (#1096)
  src/device/device.ts
Labels: enhancement

"node-switchbot": "^3.2.2-beta.7"
  package-lock.json
  package.json
Labels: dependencies

put await back to fix linting
  CHANGELOG.md
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: docs, enhancement

update configDeviceName pattern
  config.schema.json
Labels: enhancement

Update config.schema.json
  config.schema.json
Labels: enhancement

leak BLE
  config.schema.json
  package-lock.json
  package.json
  src/device/waterdetector.ts
Labels: enhancement, dependencies

Remove unneeded async
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement

Remove unneeded async (#1097)
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement

Leak BLE
  CHANGELOG.md
  docs/functions/default.html
  package-lock.json
  package.json
  src/device/device.ts
Labels: docs, enhancement, dependencies

Update humidifier.ts
  src/device/humidifier.ts
Labels: enhancement

Update config.schema.json
  config.schema.json
Labels: enhancement

"node-switchbot": "^3.2.2-beta.10"
  package-lock.json
  package.json
Labels: dependencies

"node-switchbot": "^3.2.2-beta.11"
  package-lock.json
  package.json
Labels: dependencies

platform config
  package-lock.json
  package.json
  src/device/device.ts
  src/irdevice/irdevice.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies

4.1.1
  CHANGELOG.md
  docs/functions/default.html
  package-lock.json
  package.json
Labels: docs, dependencies
