Repository OpenWonderLabs/homebridge-switchbot, pull requests merged in 2024-10, with the labels that each got.

#1066 Fix #1065 - light level stuck at max
  src/device/device.ts
Labels: enhancement, latest

#1067 v3.8.3
  .github/workflows/beta-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/contact.ts
  src/device/device.ts
Labels: enhancement, dependencies, workflow, docs, latest

#1070 v4.0.0
  .github/workflows/beta-release.yml
  CHANGELOG.md
  config.schema.json
  docs/assets/highlight.css
  docs/assets/main.js
  docs/functions/default.html
  docs/index.html
  docs/media/security-privacy-bluetooth.png
  nodemon.json
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
  src/settings.ts
  src/types/bledevicestatus.ts
  src/types/devicelist.ts
  src/types/deviceresponse.ts
  src/types/devicestatus.ts
  src/types/devicewebhookstatus.ts
  src/types/irdevicelist.ts
  src/types/pushbody.ts
  src/utils.ts
Labels: enhancement, dependencies, workflow, docs, latest

#1091 Fix device types
  src/device/bot.ts
  src/irdevice/other.ts
Labels: enhancement, latest

#1090 Fix curtain light sensor
  src/device/curtain.ts
Labels: enhancement, latest

#1089 Remove unneeded async code
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
Labels: enhancement, beta, latest

#1088 Fix max retry
  src/device/device.ts
Labels: enhancement, latest

#1092 Fix light level
  src/device/blindtilt.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/hub.ts
  src/device/motion.ts
Labels: enhancement, beta

#1093 Fix characteristic warning
  src/device/curtain.ts
Labels: enhancement, beta

#1094 Remove unneeded async
  src/device/curtain.ts
Labels: enhancement, beta

#1096 Remove unneeded light level check
  src/device/device.ts
Labels: enhancement, beta

#1097 Remove unneeded async
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement, beta
