Repository OpenWonderLabs/homebridge-switchbot, pull requests merged in 2024-12, with the labels that each got.

#1128 fix: Improve debug log in BLE connection
  src/device/device.ts
  src/platform.ts
Labels: enhancement, latest

#1131 Remove unnecessary setMinMax call
  src/device/curtain.ts
Labels: enhancement, latest

#1132 Add periods for description consistency
  config.schema.json
Labels: enhancement, beta, latest

#1133 Fix min max states
  src/device/curtain.ts
Labels: enhancement, beta, latest

#1136 Fix for "Lightbulb must have the ColorTemperature characteristic added"
  src/device/colorbulb.ts
Labels: enhancement, latest

#1149 v4.1.6
  CHANGELOG.md
  README.md
  config.schema.json
  docs/assets/main.js
  docs/assets/style.css
  docs/functions/default.html
  package-lock.json
  package.json
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/robotvacuumcleaner.ts
  src/homebridge-ui/public/index.html
  src/irdevice/irdevice.ts
  src/platform.ts
  src/settings.ts
  src/utils.ts
Labels: enhancement, dependencies, docs, latest

#1151 v4.1.7
  CHANGELOG.md
  docs/assets/hierarchy.js
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/functions/default.html
  docs/index.html
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/irdevice.ts
  src/platform.ts
Labels: enhancement, dependencies, docs, latest
