Repository OpenWonderLabs/homebridge-switchbot, pull requests merged in 2024-02, with the labels that each got.

#908 Fix BLE curtain mode
  src/device/curtain.ts
Labels: enhancement, beta

#917 Fix linting
  package.json
  src/device/curtain.ts
Labels: enhancement, dependencies, beta

#924 v3.1.3
  CHANGELOG.md
  config.schema.json
  nodemon.json
  package-lock.json
  package.json
  src/platform.ts
Labels: enhancement, dependencies, docs, latest, patch

#926 v3.2.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/custom.d.ts
  src/platform.ts
Labels: enhancement, dependencies, docs, latest, minor

#928 Fix node-switchbot import
  src/platform.ts
Labels: enhancement, beta

#929 Remove unnecessary await keyword
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement, beta

#930 Remove empty image tag
  README.md
Labels: docs, latest

#939 v3.4.0
  .vscode/settings.json
  CHANGELOG.md
  README.md
  config.schema.json
  package-lock.json
  package.json
  src/custom.d.ts
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
  src/settings.ts
  src/utils.ts
Labels: enhancement, dependencies, docs, latest
