Repository OpenWonderLabs/homebridge-switchbot, pull requests merged in 2024-11, with the labels that each got.

#1104 Fix characteristic warning
  src/device/curtain.ts
Labels: enhancement, beta

#1105 v4.1.3
  CHANGELOG.md
  README.md
  docs/functions/default.html
  docs/index.html
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/iosensor.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement, dependencies, docs, latest

#1110 Fix service data check
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/iosensor.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
Labels: enhancement, beta

#1111 Remove additional space in logging
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
Labels: enhancement, beta

#1113 Remove unneeded unknown casting
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/curtain.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/lightstrip.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
Labels: enhancement, beta

#1114 v4.1.8
  .github/workflows/beta-release.yml
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  CHANGELOG.md
  config.schema.json
  docs/functions/default.html
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/meterpro.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies, workflow, latest
