Repository OpenWonderLabs/homebridge-switchbot, pull requests merged in 2024-09, with the labels that each got.

#1040 v3.8.0
  CHANGELOG.md
  README.md
  assets/security-privacy-bluetooth.png
  config.schema.json
  eslint.config.js
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/homebridge-ui/server.ts
  src/index.ts
  src/irdevice/airconditioner.ts
  src/irdevice/airpurifier.ts
  src/irdevice/camera.ts
  src/irdevice/fan.ts
  src/irdevice/irdevice.ts
  src/irdevice/light.ts
  src/irdevice/other.ts
  src/irdevice/tv.ts
  src/irdevice/vacuumcleaner.ts
  src/irdevice/waterheater.ts
  src/platform.ts
  src/settings.ts
  src/types/bledevicestatus.ts
  src/types/devicelist.ts
  src/types/deviceresponse.ts
  src/types/devicestatus.ts
  src/types/devicewebhookstatus.ts
  src/types/irdevicelist.ts
  src/types/pushbody.ts
  src/utils.ts
  tsconfig.json
Labels: enhancement, dependencies, docs, latest, minor

#1049 v3.8.2
  CHANGELOG.md
  package-lock.json
  package.json
  src/device/blindtilt.ts
  src/device/bot.ts
  src/device/ceilinglight.ts
  src/device/colorbulb.ts
  src/device/contact.ts
  src/device/curtain.ts
  src/device/device.ts
  src/device/fan.ts
  src/device/hub.ts
  src/device/humidifier.ts
  src/device/iosensor.ts
  src/device/lightstrip.ts
  src/device/lock.ts
  src/device/meter.ts
  src/device/meterplus.ts
  src/device/motion.ts
  src/device/plug.ts
  src/device/robotvacuumcleaner.ts
  src/device/waterdetector.ts
  src/platform.ts
  src/types/bledevicestatus.ts
  src/utils.ts
Labels: enhancement, dependencies, docs, latest, patch

#1061 Fix incorrect handling of openState in Contact Sensor
  src/device/contact.ts
Labels: enhancement, latest
